<?php include 'templates/header.html.php'; ?>

<ul>
	<li><a href="?task=cytaty&amp;action=add">Dodaj cytat</a>
	<li><a href="?task=cytaty&amp;action=all">Lista cytatów</a>
</ul>

<h1>Strona główna</h1>
</br>
<table>
    <tr>
        <td>Autor</td>
		<td>O autorze</td>
        <td>Cytat</td>
    </tr>
    <?php foreach($this->get('cytaty') as $cytaty) { ?>
    <tr>
        <td><?= $cytaty['artist']; ?></td>
		<td><?= $cytaty['artist_info']; ?></td>
        <td><?= $cytaty['content']; ?></td>
    </tr>
    <?php } ?>
</table>
 
<?php include 'templates/footer.html.php'; ?>

////////////////////////

<?php include 'templates/header.html.php'; ?>

<ul>
	<li><a href="?task=cytaty&amp;action=add">Dodaj cytat</a>
	<li><a href="?task=cytaty&amp;action=all">Lista cytatów</a>
</ul>

<h1>Strona główna</h1>
</br>
<table>
    <tr>
        <td>Autor</td>
		<td>O autorze</td>
        <td>Cytat</td>
</tr>
<script>
function showUser(str) {
    if (str == "") {
        document.getElementById("txtHint").innerHTML = "";
        return;
    } else { 
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("txtHint").innerHTML = this.responseText;
            }
        };
        xmlhttp.open("GET","getuser.php?q="+str,true);
        xmlhttp.send();
    }
}
</script>
<body>

<form>
<select name="users" onchange="showUser(this.value)">
  <option value="">Select a person:</option>
  <option value="1">Peter Griffin</option>
  <option value="2">Lois Griffin</option>
  <option value="3">Joseph Swanson</option>
  <option value="4">Glenn Quagmire</option>
  </select>
</form>
<br>
<div id="txtHint"><b>Person info will be listed here...</b></div>

//////////////////////////

    <?php foreach($this->get('cytaty') as $cytaty) { ?>
    <tr>
        <td><?= $cytaty['artist']; ?></td>
		<td><?= $cytaty['artist_info']; ?></td>
        <td><?= $cytaty['content']; ?></td>
    </tr>
    <?php } ?>
</table>
 
<?php include 'templates/footer.html.php'; ?>
